@font-face {
  font-family: 'SourceSansProRegular';
  font-style: normal;
  src: url("fonts/SourceSansPro-Regular.ttf");
}
@font-face {
  font-family: 'SourceSansProLight';
  font-style: normal;
  src: url("fonts/SourceSansPro-Light.ttf");
}
@font-face {
  font-family: 'SourceSansProExtraLight';
  font-style: normal;
  src: url("fonts/SourceSansPro-ExtraLight.ttf");
}
@font-face {
  font-family: 'SourceSansProBold';
  font-style: normal;
  src: url("fonts/SourceSansPro-Bold.ttf");
}
@font-face {
  font-family: 'SourceSansProSemiBold';
  font-style: normal;
  src: url("fonts/SourceSansPro-SemiBold.ttf");
}
@font-face {
  font-family: 'AvenirNCRegular';
  font-style: normal;
  src: url("fonts/AvenirNextCondensed-Regular.ttf");
}

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
  border: 0;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

article,
aside,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
video,
object {
  display: block;
}

body {
  margin: 0;
  background: #fff;
  font-size: 18px;
  color: #302625;
  font-family: 'SourceSansProRegular', sans-serif !important;
}
img {
  vertical-align: middle;
  max-width: 100%;
}
a {
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
html {
  font-family: "";
  color: #484c55;
}
.maincontainer{width:400px; margin:0 auto;}
.container,.header,.banner_area,.footer,.middle {
	  width: 100%;
	  margin: 0 auto;
	  
}

.header{
	width:100%;
	background:url(headerbg.png) repeat-x;
}

.header .logo{
	width:100%;
	margin: 10px auto;
	display:block;
	
	position:relative;

}
.header .logo img{margin:0 auto; display:block;}
.header .head_title{ font-family:"SourceSansProLight"; font-size:24px; display:block; padding:10px; text-align:center; text-shadow: 2px 2px 2px #666; color:#fff; margin:0 auto;}
.banner_area{
	width:100%;	margin:0;padding:0;
	background:url(bgmid.jpg) no-repeat;
	background-position:center;
	display:block;
	position:relative;
}
.bgcars .title{
	text-shadow: 3px 3px #444;
}

.banner_area .bgcars{ width:300px; margin:0 auto;}
.banner_area .title{font-family:"SourceSansProBold"; font-size:30px; text-align:center; padding:45px 0px 10px 0px;  color:#27ae61;}
.banner_area .line{height:1px; background:#cccccc; width:70%; margin:0 auto 10px auto; border:none; padding:0; margin:0;}
.banner_area ul{ margin:0 auto; display:block;  width:230px;}
.banner_area ul li{  color:#808080; font-size:22px;font-family:"AvenirNCRegular"; list-style:none; background:url(chkbox.png) no-repeat left; padding:5px 5px 5px 45px;}
.setzipwidth{
	width:245px;
}
.formarea input[type='tel']::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #74747a;
    opacity: 1; /* Firefox */
}

.getprice:focus{outline:none;}
.button{
 	background:url(button.png) no-repeat;
	width:277px;
	height:30px;
	padding:5px 10px 60px 10px;
	border:none;
	display:block;
	position:relative;
	margin:45px auto 0 auto;
	color:#fff;
	font-size:28px;
	font-family:"SourceSansProSemiBold";
}
.buttonR{
 	background:url(buttonR.png) no-repeat;
	width:277px;
	height:30px;
	padding:5px 10px 95px 10px;
	border:none;
	display:block;
	position:relative;
	margin:0 auto 0 auto;
	color:#fff;
	font-size:28px;
	font-family:"SourceSansProSemiBold";
}
.middle{border:none;}
.middle .title{font-family:"SourceSansProRegular"; font-size:32px; text-align:center; padding:15px 0px 15px 0px; color:#808080; font-weight:normal;}
.middle .steps{width:100%; margin:0 auto;}
.middle .steps .image{ width:29%; display:inline-block; vertical-align:top;}
.middle .steps .image img{z-index:1;position:relative; }
.middle .steps .image .circle{width:8px; height:20px; border-radius:50%; background-color:#27ae61; color:#fff; font-size:14px; padding:5px 10px 5px 12px; margin:-10px 70px; z-index:100; position:relative;font-family:"SourceSansProSemiBold";}
.middle .steps .text_section{width:70%;display:inline-block; padding-bottom:20px; margin-bottom:30px;border-bottom:1px solid #ccc;}
.middle .steps .last{width:70%;display:inline-block; padding-bottom:20px;border-bottom:0px solid #ccc;}
.middle .steps .text_section h3{font-weight:normal; font-size:22px; color:#27ae61; padding:5px 0px;}
.middle .steps .text_section p{font-family:"SourceSansProLight";}
.middle .line{height:1px; background:#cccccc; width:70%; margin:0 auto 20px auto;}

.error{color:#ff0000;font-family:"AvenirNextCondensedMedium";font-size:14px;text-align:center;padding-top:10px; margin:0 auto;display:none;	}

.footer{ width:100%; background:#f4f4f4;border-top:1px solid #dad9d9;}

.footerlinks{
	padding:10px 0px 15px 0px;
	display:block;
	position:relative;
}
.footerlinks .logo{margin:0 auto; width:240px; padding:5px 0px 5px 0px;}
.footerlinks .logo img{ margin:0 auto; display:inline-block;}
.footerlinks p{
	font-family:"SourceSansProSemiBold";
	font-size:12px;
	padding:10px 0px;
	text-align:center;
	color:#aaa;
	
}
.footerlinks ul li{
	display:inline-block;
	margin:10px 30px;
	font-family:"AvenirRoman";
	font-size:12px;
	
}
.footerlinks p a{
	text-align:center;
	color:#000;
	text-decoration:underline;
	padding: 0px 10px;
}

.terms{
	font-family:"AvenirNextCondensedRegular";
	font-size:14px;
	text-align:center;
	margin:0 auto;
	color:#69999f;
	margin:15px;
}
.terms a{
	color:#69999f;
	text-decoration:underline;
}
@media (min-device-width: 360px) and (max-device-width: 399px){
.maincontainer{width:100%; margin:0 auto;}
.header .head_title{font-size:18px; padding:10px; background-color:#27ae61; }
}
@media (min-device-width: 320px) and (max-device-width: 359px){
	.maincontainer{width:100%; margin:0 auto;}
	.header .head_title{font-size:20px;}
	.middle .steps .image{ width:29%; display:inline-block; vertical-align:top;}
	.middle .steps .text_section{width:65%;display:inline-block; padding-bottom:20px; margin-bottom:30px;border-bottom:1px solid #ccc;}

}